body {
  background: #eeeeee;
  font-family: "Playfair Display", serif;
  font-family: "Ubuntu", sans-serif;
}
.container {
  max-width: 600px;
  background: #f7f7f7;
  margin: 65px auto;
  border-radius: 15px;
  padding: 40px;
}